* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/background/BG-0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*div[class|="col"]{
    border: 2px solid rgb(255, 44, 185);
}*/

/*.row{
    height: 200px;
    border: 6px dashed red;
}*/

html {
    font-family: 'Merriweather', serif;
    font-size: 20px;

}

/* PROPIEDADES PARA TITULOS Y PARRAFOS*/

h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'wire one', serif;
    font-weight: bold;
}


h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'wire one', serif;
    font-weight:bold;
}

p {
    color: #3A9F65;
    padding: 1px;
    margin: 2px;
    font-weight: bold;
}

/******************************************/

/******* SEPARADOR **********/

.separador {
    position: relative;
}

.custom-shape-divider-top-1623637674 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

}

.custom-shape-divider-top-1623637674 svg {
    position: relative;
    display: block;
    width: calc(107% + 1.3px);
    height: 98px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1623637674 .shape-fill {
    fill:#31BA80;
}

.contenido {

    padding: 5% 12% 8% 12%;
}

/*********************************************/

.container {
    margin-top: 0px;
    margin-bottom: 0px;
}


.header {
    z-index: 99999999999;
}


/*******NAV********/

.navbar {
    z-index: 9999;
}


/* SOBRE NOSOTROS*/



/***** Comercios Adheridos ******/

.card-text {
    color: rgb(0, 0, 3);

}

/*SERVICIOS*/



/* FORMULARIO*/

.contieneForm {
    background: #313233;
    /*border: solid 3px red;*/
    height: auto;
    padding: 6% 4% 2% 4%;
    color: white 
}

.form-control{
    width: 100%;
    margin: 5px auto 5px 5px;
}


.form-label {
    color: rgb(255, 255, 255);
    
}

#formprin button[type="submit"]:hover {
    background: rgb(82, 160, 79);
    cursor: pointer;
}



/*BOTON ENVIAR DEL FORMULARIO*/
.btn-outline-success {
    color: rgb(255, 255, 254);
}

.identi{
    background: rgb(2, 217, 255);
    border: solid 2px red;
    
}


/* FIN DEL FORMULARIO*/

.pie {
    background-image: url("../img/img\ footer/footer.jpg");
    /*padding: 2%;*/
    text-align: right;
    color: rgb(0, 0, 0);
   
    
    

}

.footer2 {
    background: #000000;
    position: relative;
   
}


.up {
    width: 40px;
    color: black;
    cursor: pointer;
    position: fixed;
    bottom: 6px;
    right: 28px;
   
}


.up:hover {
    background: #3A9F65;
    border-radius: 80%;
    cursor: pointer;
}

/* AJUSTA EL CONTENDIDO DENTRO DE LOS SEPARADORES*/


/**********************************/




h6 {
    color: #19814d;
    
}

.contacwp:hover {
    color: #19814d;
    
}

.secc-style {
    background-image: url("../img/background/ser-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: auto;  
    /*background-color: rgb(252, 11, 2)*/
}

.sec1{
    background-image: url("../img/background_sections/empresa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sec2{
    background-image: url("../img/background_sections/servicios.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



/***** ANIMACIONES ******/


.hola:hover {
    animation: pulse;
    animation-duration: 2s;
    cursor: pointer;

}


.chau:hover {
    animation: pulse;
    animation-duration: 2s;
    cursor: pointer;

}



.pie {
    animation: slideInUp;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;

}
