* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Merriweather', serif;
    font-size: 20px;

}

div[class|="col"]{
    border: 2px solid rgb(255, 44, 185);
}

/*.row{
    height: 200px;
    border: 6px dashed red;
}*/



body {
    background-image: url("../img/background/BG-0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.header {
    z-index: 99999999999;
}

.cf-color {
    background: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}


h1,
h2 {
    color: black;
    text-align: center;
    padding: 2px;
    font-family: 'Big Shoulders Display', cursive;
}

p {
    color: #3A9F65;
    padding: 5px;
    margin: 2px;
    font-weight: bold;
}

.navbar-light {
    color: #3A9F65;
}


/*******NAV********/

.navbar {
    z-index: 999;
}


/* SOBRE NOSOTROS*/



/***** Comercios Adheridos ******/

.card-text {
    color: rgb(0, 0, 3);

}

/*SERVICIOS*/

.hola:hover {
    animation: pulse;
    animation-duration: 2s;
    cursor: pointer;
}

.chau:hover {
    animation: pulse;
    animation-duration: 2s;
    cursor: pointer;

}


.mapa {
    width: 100%;
    margin-bottom: 20px;

}

.sucur .cajatuc .ubicacion img {
    width: 40%;
    margin-bottom: 20px;

}

/* FORMULARIO*/
.titform {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-bottom: 15px;
}

#formprin {
    border-radius: 8px;

    padding: 30px;
    width: 80%;
    margin: auto;
}

#formprin span {
    margin: 5px 0 15px 0;
    color: black;

}


#formprin input {
    padding: 10px;
    width: 100%;
    margin: 5px 0 10px 0;
    border-radius: 3px;
    border: none;

}

#formprin input[type="radio"] {
    width: auto;
    margin-right: 15px;
}

#formprin select {

    font-family: monospace;
    padding: 10px;
    margin: 5px 0 10px 0;
    border-radius: 3px;
    width: 100%;
    border: none;
    background:

}

#formprin textarea {
    width: 100%;
    margin: 5px 0 10px 0;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-family: monospace;
    background:
}

#formprin {
    font-family: monospace;
    padding: 10px;
    margin-bottom: 30px;
    width: 80%;
    border: none;
}


#formprin button[type="submit"]:hover {
    background: rgb(82, 160, 79);
    cursor: pointer;
}

.cfc-contacto {
    background: #313233;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* FIN DEL FORMULARIO*/

.pie {
    background-image: url("../img/img\ footer/footer.jpg");
    /*padding: 2%;*/
    text-align: right;
    color: rgb(0, 0, 0);
    height: auto;
    
}

iframe {
    max-width: 100%;
    height: 100%;
   }




.footer2 {
    background: #000000;
    position: relative;
    
    
}


.botonup {
    /*border: 5px dashed red;*/
    width: 100%;
    height: 100%;
    padding: 10px;
}


.up {
    width: 40px;
    background: #19814d;
    border-radius: 80%;
    cursor: pointer;
}


.up:hover {
    background: #ffffff;
    border-radius: 80%;
    cursor: pointer;
}

.clientes {
    /*border: 9px dashed white;*/
}

.comercios2 {
    border: 9px dashed orangered;
}

.contacto {
    background: #313233;
}

.btn-outline-success {
    color: white;
}

.form-label {
    color: white;
}

.contacwp,
h6 {
    color: #19814d;
}

.contacwp:hover {
    color: #19814d;
}

.secc-style {
    background-image: url("../img/background/25097.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/***** ANIMACIONES ******/



.pie{
    animation:slideInUp;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;

}


@keyframes identifier {
    0% {
        background: red;
    }

    50%{
        background: rgb(62, 65, 250);
    }   
    
    100% { 

        background: rgb(237, 250, 62);
    }
  }