body {
    background-image: linear-gradient(90deg, #4d6e50 0%, #175638 50%, #f3f3f3 100%);
}

.forma{
    border: 5px dashed purple;
    width: 50%;
    margin: 10px auto 10px auto;
}




.pie {
    background-image: url("../img/img\ footer/footer.jpg");
    text-align: right;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    padding: 0px;
 
    


}
.footer2 {
    background: #000000;
    color: rgb(250, 250, 250);
    margin-left: 0;
    
   
}