.pie {
    background-image: url("../img/img\ footer/footer.jpg");
    /*padding: 2%;*/
    text-align: right;
    color: rgb(253, 253, 253);


}
.footer2 {
    background: #000000;
    position: relative;

}


