*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/background_sections/Shades\ of\ Grey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    margin: 15px auto 15px auto;

}

.login{
    border: solid 5px rgb(241, 241, 241);
    background: white;
    margin-top: 6px;
}

#logo{
  color: red;
  /*border: dashed 2px red;*/
  width: 25%;
  
}

.pie {
    background-image: url("../img/img\ footer/footer.jpg");
    text-align: right;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    padding: 0px;
}