*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/background_sections/22596.png");
    background-repeat: no-repeat;
    background-size: cover;
    

}

.formulario{
    width: 30%;
    margin: auto;
    margin-top: 25px;
    color:#343E4A;

}

.pie {
    background-image: url("../img/img\ footer/footer.jpg");
    text-align: right;
    color: rgb(255, 255, 255);
    margin-top: 25px;
    


}
.footer2 {
    background: #000000;
    color: white;
    margin-left: 0;
    
   
}



/*.pie {
    animation: slideInUp;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
  

}*/